<!DOCTYPE HTML>
<html>
<head>
<style>
  .first {
  width: 50%;
  float:left;
  height: 100px;
  border: 1px solid #3B6273;
  }
  .second {
  width: 50%;
  float:left;
  height: 100px;
  border: 1px solid #3B6273;
  }
</style>
</head>

</html>

